{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="blocImageHome">
        <img src="{{ asset('images/home.jpg') }}" alt="home">
        <div class="overlay"></div>
        <div class="blocAccroche">
            <p class="accroche">{{ 'home.accroche'|trans }}</p>
        </div>
        <a href="#figures"><i class="fas fa-arrow-circle-down arrowHome"></i></a>
    </div>
    <div class="container-fluid pt-5" id="figures">
        {% for figure in paginator.getResults() %}
        <div class="card mb-5">
            <a href="{{ path('figure',{'slug':figure.slug}) }}">
                <div class="card-image">
                    <img src="
                        {% set main = false %}
                        {% set isImage = false %}
                        {% for image in figure.images %}
                            {% if image.main == true and main == false %}{{ asset(image.filename) }}
                                {% set main = true %}
                                {% set isImage = true %}
                            {% endif %}
                        {% endfor %}
                        {% if main == false %}
                            {% for image in figure.images %}
                                {% if loop.first %}{{ asset(image.filename) }}
                                    {% set isImage = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if isImage == false %}
                          {{ asset(('images/defaultFigure.jpg')) }}
                        {% endif %}
                    " alt="" />
                    <div class="overlayCard"></div>
                </div>
            </a>
                <div class="card-body">
                    <div class="card-title">
                        <h3>{{ figure.name }}</h3>
                        {% if app.user %}
                        <div>
                            <a href="{{ path('edit_figure',{'slug':figure.slug}) }}" style="margin-right: 10px"><i class="fas fa-pen text-primary"></i></a>
                            <button class="icons" type="button" data-toggle="modal" data-target="#delete{{ figure.id }}" style="cursor: pointer">
                                <i class="fas fa-trash text-danger"></i>
                            </button>
                            {% include 'modal/delete.html.twig' %}
                        </div>
                        {% endif %}
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    {% include 'paginator/paginator.html.twig' %}
    <a href="#figures"><i class="fas fa-arrow-circle-up arrowPaginator"></i></a>
{% endblock %}
