{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="blocImageHome">
        <img src="{{ asset('images/home.jpg') }}" alt="home">
        <div class="overlay"></div>
        <div class="blocAccroche">
            <p class="accroche">{{ 'home.accroche'|trans }}</p>
        </div>
        <a href="#figures"><i class="fas fa-arrow-circle-down arrowHome"></i></a>
    </div>
    <div class="container-fluid pt-5" id="figures">
        {% for figure in paginator.getResults() %}
        <div class="card mb-5">
            <a href="{{ path('figure',{'slug':figure.slug}) }}">
                <div class="card-image">
                    <img src="{% for image in figure.images %}{% if image.main == true %}{{ asset(image.filename) }}{% endif %}{% endfor %}" alt="" />
                    <div class="overlayCard"></div>
                </div>
            </a>
                <div class="card-body">
                    <div class="card-title">
                        <h3>{{ figure.name }}</h3>
                        {% if app.user %}
                        <div>

                            <a href="{{ path('edit_figure',{'slug':figure.slug}) }}" style="margin-right: 10px"><i class="fas fa-pen text-primary"></i></a>
                            <button class="icons" type="button" data-toggle="modal" data-target="#delete{{ figure.id }}" style="cursor: pointer">
                                <i class="fas fa-trash text-danger"></i>
                            </button>
                            {% include 'modal/delete.html.twig' %}
                        </div>
                        {% endif %}
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <div class="paginator" id="paginator">
        {% if paginator.getRouteParameters() is not null %}
            {% for key,value in paginator.getRouteParameters() %}
                {% if paginator.getNbResults() != paginator.getNbAllResults() %}
                    <a href="{{ path(paginator.getRoute(),{ (key) : value,'page' : paginator.getPage() }) }}#paginator" class="btnPaginator mb-5 mt-2">{{ 'paginator.next'|trans }} <small>( {{ (paginator.getNbAllResults() - paginator.getNbResults()) }} {{ 'paginator.results'|trans }} )</small></a>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if paginator.getNbResults() != paginator.getNbAllResults() %}
                <div class="paginator pb-3 pt-2" id="paginator">
                    <a href="{{ path(paginator.getRoute(),{'page' : paginator.getPage()}) }}#paginator" class="btnPaginator mb-5 mt-2">{{ 'paginator.next'|trans }} <small>( {{ (paginator.getNbAllResults() - paginator.getNbResults()) }} {{ 'paginator.results'|trans }} )</small></a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <a href="#figures"><i class="fas fa-arrow-circle-up arrowPaginator"></i></a>
{% endblock %}
