{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <div class="blocImageHome">
        <img src="{{ asset('images/home.jpg') }}" alt="home">
        <div class="overlay"></div>
        <div class="blocAccroche">
            <p class="accroche">{{ 'home.accroche'|trans }}</p>
        </div>
        <a href="#figures"><i class="fas fa-arrow-circle-down arrowHome"></i></a>
    </div>
    <div class="container-fluid pt-5" id="figures">
        {% for figure in paginator.getResults() %}
        <div class="card mb-5">
            <a href="{{ path('figure',{'slug':figure.slug}) }}" style="text-decoration: none;z-index: 500;">
                <div class="card-image">
                    {% set imageDisplay = include('_partial/_imageDisplay/_imageDisplay.html.twig') %}
                    <img src="{{ imageDisplay }}" />
                    <div class="overlayCard"></div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h3>{{ figure.name }}</h3>
                        {% if app.user %}
                        <div>
                            <a href="{{ path('edit_figure',{'slug':figure.slug}) }}" style="margin-right: 10px"><i class="fas fa-pen text-primary"></i></a>
                            <button class="icons" type="button" data-toggle="modal" data-target="#delete{{ figure.id }}" style="cursor: pointer">
                                <i class="fas fa-trash text-danger"></i>
                            </button>
                        </div>
                            {% include '_partial/_modal/_deleteFigure.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% include '_partial/_paginator/_paginator.html.twig' %}
    <a href="#figures"><i class="fas fa-arrow-circle-up arrowPaginator"></i></a>
{% endblock %}
