{% extends 'base.html.twig' %}

{% block title %}{{ 'editFigure.title'|trans({},'messages') }}{% if figure.name is not empty %} - {{ figure.name }}{% endif %}{% endblock %}

{% block body %}
    <div class="overlayShow">
    </div>
    <div class="container mt-md-5 mb-md-5 blocShow">
        <div class="imgBlocShow">
            {% include '_partial/_imageDisplay/_imageDisplay.html.twig' with {'item':figure} %}
            <div class="nameShow">
                <h5>{{ figure.name }}</h5>
            </div>
        </div>
        {% if figure.images is not empty or figure.videos is not empty %}
        <div class="btnMedias">
            <button type="button" class="btn btn-primary" id="showMedias">
                {{ 'medias'|trans({},'messages') }}
            </button>
        </div>
        <div class="imagesList">
            {% for image in figure.images %}
                <div class="blocBtnImage">
                    <img src="{{ asset(figuresPath ~ image.filename) }}" alt="{{ figure.name }}" class="imgList">
                    <div>
                        {% if image.main == false %}
                            <button class="icons" type="button" data-toggle="modal" data-target="#main{{ image.id }}" style="cursor: pointer">
                                <i class="fas fa-pen text-primary"></i>
                            </button>
                        {% endif %}
                        {% if image.main == true %}
                            <button class="icons" disabled>
                                <i class="fas fa-eye text-primary"></i>
                            </button>
                        {% endif %}
                        <button class="icons" type="button" data-toggle="modal" data-target="#deleteImage{{ image.id }}" style="cursor: pointer">
                            <i class="fas fa-trash text-danger"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
            {% for video in figure.videos %}
            <div class="blocBtnImage">
                {{ video.url|raw }}
                <div>
                    <button class="icons" type="button" data-toggle="modal" data-target="#deleteVideo{{ video.id }}" style="cursor: pointer">
                        <i class="fas fa-trash text-danger"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="p-5 pt-2 descriptionShow">
            <div>
                {{ figure.description|raw }}
            </div>
            <div class="text-center mt-4 blocSpan">
                <span class="badgePersoGreen">{{ 'showFigure.add'|trans({'%date%':figure.createdAt|date('d/m/Y', "Europe/Paris"),'%heure%':figure.createdAt|date('H', "Europe/Paris"),'%minutes%':figure.createdAt|date('i', "Europe/Paris"),'%seconde%':figure.createdAt|date('s', "Europe/Paris")},'messages') }}</span>
                {% if figure.updatedAt is not null %}
                    <span class="badgePerso">{{ 'showFigure.edit'|trans({'%date%':figure.updatedAt|date('d/m/Y', "Europe/Paris"),'%heure%':figure.updatedAt|date('H', "Europe/Paris"),'%minutes%':figure.updatedAt|date('i', "Europe/Paris"),'%seconde%':figure.updatedAt|date('s', "Europe/Paris")},'messages') }}</span>
                {% endif %}
                <span class="badgePersoDanger">{{ 'showFigure.category'|trans({},'messages') }} : {{ figure.category.name }}</span>
            </div>
        </div>
        <div class="container pt-5 pb-5">
            {{ form_start(form,{'attr': {'class': 'd-flex row'}}) }}
            <div class="form-group col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.category) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_row(form.images) }}
            </div>
            <div class="form-group col-md-12">
                <div class="videos w-100" style="list-style-type: none"
                     data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                     data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
                ></div>
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="videos"><i class="fa-solid fa-plus" style="margin-right: 7px;"></i> Ajouter une video</button>
                </div>
            </div>
            <div class="form-group col-md-12">
                {{ form_row(form.submit) }}
                {{ form_row(form.delete) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% include '_partial/_modal/_deleteFigure.html.twig' %}
    {% for image in figure.images %}
        {% include '_partial/_modal/_deleteImage.html.twig' %}
        {% include '_partial/_modal/_setMain.html.twig' %}
    {% endfor %}
    {% for video in figure.videos %}
        {% include '_partial/_modal/_deleteVideo.html.twig' %}
    {% endfor %}

{% endblock %}