{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}
    {% include 'modal/delete.html.twig' %}
    <div class="overlayShow">
    </div>
    <div class="container mt-md-5 mb-md-5 blocShow">
        <div class="imgBlocShow">
            {% for image in figure.images %}
                {% if image.main == true %}
                    <img src="{{ asset(image.filename) }}" alt="{{ figure.name }}" class="imgShow">
                {% endif %}
            {% endfor %}
            <div class="nameShow">
                <h5>{{ figure.name }}</h5>
            </div>
            {% if app.user == figure.user %}
            <div class="btnAdminShow">
                <a href="{{ path('edit_figure',{'slug':figure.slug}) }}" style="margin-right: 15px"><i class="fas fa-pen text-primary"></i></a>
                <button class="icons" type="button" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
                    <i class="fas fa-trash text-danger"></i>
                </button>
            </div>
            {% endif %}
        </div>
        <div class="btnMedias">
            <button type="button" class="btn btn-primary" id="showMedias">
                Voir les médias
            </button>
        </div>
        <div class="imagesList">
            {% for image in figure.images %}
                    <img src="{{ asset(image.filename) }}" alt="{{ figure.name }}" class="imgList">
            {% endfor %}
            {% for video in figure.videos %}
            <iframe class="videoList"
                    src="{{ video.url }}">
            </iframe>
            {% endfor %}
        </div>
        <div class="p-5 pt-2 descriptionShow">
            <div>
                <p>{{ figure.description }}</p>
            </div>
            <div class="text-center mt-4 blocSpan">
                <span class="badgePersoGreen">{{ 'showFigure.add'|trans }} {{ figure.createdAt|date('d/m/Y') }} à {{ figure.createdAt|date('H') }}h{{ figure.createdAt|date('i') }}</span>
                {% if figure.updatedAt is not null %}
                <span class="badgePerso">{{ 'showFigure.edit'|trans }} {{ figure.createdAt|date('d/m/Y') }} à {{ figure.createdAt|date('H') }}h{{ figure.createdAt|date('i') }}</span>
                {% endif %}
                <span class="badgePersoDanger">{{ 'showFigure.category'|trans }} : {{ figure.category.name }}</span>
            </div>
        </div>
        {% if app.user %}
        <div class="p-5" style="padding-bottom: 0px!important;">
            {{ form(formMessage) }}
        </div>
        {% endif %}
        <div class="p-5" id="messages">
            {% for message in messages %}
                <div class="blocShowOneComment mb-3 pt-4">
                    <div class="pb-3 text-blue">
                        {% if message.user.username is not null %}
                            {{ message.user.username }}
                        {% else %}
                            Utilisateur anonyme
                        {% endif %}
                    </div>
                    <div class="pb-3">{{ message.content }}</div>
                    <div class="w-100 blocBtnCreated">
                        <div>Posté le {{ message.createdAt|date('d/m/Y') }} à {{ message.createdAt|date('H',"Europe/Paris") }}h{{ message.createdAt|date('i',"Europe/Paris") }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ paginator|raw }}
        <a href="#messages"><i class="fas fa-arrow-circle-up arrowPaginator"></i></a>
    </div>
{% endblock %}
