{% extends 'base.html.twig' %}

{% block title %}{{ figure.name }}{% endblock %}

{% block body %}
    {% include '_partial/_modal/_deleteFigure.html.twig' %}
    <div class="overlayShow">
    </div>
    <div class="container mt-md-5 mb-md-5 blocShow">
        <div class="imgBlocShow">
            {% include '_partial/_imageDisplay/_imageDisplay.html.twig' with {'item':figure} %}
            <div class="nameShow">
                <h5>{{ figure.name }}</h5>
            </div>
            {% if app.user %}
            <div class="btnAdminShow">
                <a href="{{ path('edit_figure',{'slug':figure.slug}) }}" style="margin-right: 15px"><i class="fas fa-pen text-primary"></i></a>
                <button class="icons" type="button" data-toggle="modal" data-target="#delete{{ figure.id }}" style="cursor: pointer">
                    <i class="fas fa-trash text-danger"></i>
                </button>
            </div>
            {% endif %}
        </div>
        {% if figure.images is not empty or figure.videos is not empty %}
        <div class="btnMedias">
            <button type="button" class="btn btn-primary" id="showMedias">
                {{ 'medias'|trans({},'messages') }}
            </button>
        </div>
        <div class="imagesList">
            {% for image in figure.images %}
                    <img src="{{ asset(figuresPath ~ image.filename) }}" alt="{{ figure.name }}" class="imgListShow">
            {% endfor %}
            {% for video in figure.videos %}
                {{ video.url|raw }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="p-5 pt-2 descriptionShow">
            <div>
                <p>{{ figure.description|raw }}</p>
            </div>
            <div class="text-center mt-4 blocSpan">
               <span class="badgePersoGreen">{{ 'showFigure.add'|trans({'%date%':figure.createdAt|date('d/m/Y', "Europe/Paris"),'%heure%':figure.createdAt|date('H', "Europe/Paris"),'%minutes%':figure.createdAt|date('i', "Europe/Paris"),'%seconde%':figure.createdAt|date('s', "Europe/Paris")},'messages') }}</span>
                {% if figure.updatedAt is not null %}
                <span class="badgePerso">{{ 'showFigure.edit'|trans({'%date%':figure.updatedAt|date('d/m/Y', "Europe/Paris"),'%heure%':figure.updatedAt|date('H', "Europe/Paris"),'%minutes%':figure.updatedAt|date('i', "Europe/Paris"),'%seconde%':figure.updatedAt|date('s', "Europe/Paris")},'messages') }}</span>
                {% endif %}
                <span class="badgePersoDanger">{{ 'showFigure.category'|trans({},'messages') }} : {{ figure.category.name }}</span>
            </div>
        </div>
        {% if app.user %}
        <div class="p-5" style="padding-bottom: 0px!important;">
            {{ form(formMessage) }}
        </div>
        {% endif %}
        <div class="p-5" id="messages">
            {% for message in paginator.getResults() %}
                <div class="blocShowOneComment mb-3 pt-4">
                    <div>
                        <div class="pb-3 text-blue blocImgName">
                            {% if message.user.avatar is not null %}
                                <img src="{{ asset(avatarsPath ~ message.user.avatar) }}" alt="{{ message.user }}" class="avatar">
                                {% else %}
                                    <img src="{{ asset(avatarDefault) }}" alt="{{ message.user }}" class="avatar">
                            {% endif %}
                            {% if message.user.username is not null %}
                                <p>
                                    {{ message.user.username }}
                                </p>
                            {% else %}
                                <p>
                                    Utilisateur anonyme
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pb-3">{{ message.content }}</div>
                    <div class="w-100 blocBtnCreated">
                        <div>Posté le {{ message.createdAt|date('d/m/Y') }} à {{ message.createdAt|date('H',"Europe/Paris") }}h{{ message.createdAt|date('i',"Europe/Paris") }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include '_partial/_paginator/_paginator.html.twig' %}
        <a href="#messages"><i class="fas fa-arrow-circle-up arrowPaginator"></i></a>
    </div>
{% endblock %}
