{% block nav %}

    <nav class="navbar navbar-expand-lg navbar-dark nav" style="box-shadow: 0px 0px 10px rgba(100,100,100,0.3);height: 70px;">
        <div class="container-fluid d-flex align-items-center">

            <a class="title" style="font-size: 24px;margin-left: 15px;" href="{{ path('home') }}">SnowTricks</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex;justify-content: flex-end">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="btnsNav">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="centrageMenu"><a href="{{ path('home') }}" class="subtitle">{{ 'nav.home'|trans }}</a></li>
                        {% if app.user %}
                            <li class="centrageMenu"><a href="" class="subtitle">{{ 'nav.addFigure'|trans }}</a></li>
                            <li class="centrageMenu"><a href="{{ path('app_logout') }}" class="subtitle" style="border-right: none;">{{ 'nav.logout'|trans }}</a></li>
                        {% else %}
                            <li class="centrageMenu"><a href="{{ path('app_login') }}" class="subtitle">{{ 'nav.login'|trans }}</a></li>
                            <li class="centrageMenu"><a href="{{ path('register') }}" class="subtitle" style="border-right: none;">{{ 'nav.register'|trans }}</a></li>
                        {% endif %}

                    </ul>

                </div>
            </div>
        </div>
    </nav>

    <div class="responsiveNav" style="position:relative;width: 100%;">

        <nav class="navbar navbar-light" style="background-color: white;box-shadow: none;">
            <div class="container-fluid">
                <div class="titleNav">
                    <div><a class="title" style="font-size: 20px;" href="{{ path('home') }}">SnowTricks</a></div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent" style="position: fixed;width: 100%;z-index: 2000;font-size: 14.5px!important;">
            <div class="pb-0 pr-4 pl-4 pt-0" style="background-color: white;border-bottom: 1px solid rgb(200,200,200)">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-4 pt-0">

                    <li class="nav-item"><a href="{{ path('home') }}" class="nav-link">{{ 'nav.home'|trans }}</a></li>
                    <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">{{ 'nav.login'|trans }}</a></li>
                    <li class="nav-item"><a href="{{ path('register') }}" class="nav-link">{{ 'nav.register'|trans }}</a></li>


                </ul>
            </div>
        </div>

    </div>

{% endblock %}