<p style='font-weight: bold'>{{ 'email.confirm.hello'|trans({},'messages') }} {{ user.username }},</p>
<p>{{ 'email.confirm.text'|trans({},'messages') }} <span style='color: blue;font-weight: bold;'>{{ 'email.confirm.link'|trans({},'messages') }}</span> {{ 'email.confirm.under'|trans({},'messages') }} :</p>
<a style='font-weight: bold' href='http://127.0.0.1:8000/confirm/{{ user.token }}'>{{ 'email.confirm.clic'|trans({},'messages') }}</a>