<p style='font-weight: bold'>{{ 'email.reset.hello'|trans({},'messages') }} {{ user.username }},</p>
<p>{{ 'email.reset.text'|trans({},'messages') }} <span style='color: blue;font-weight: bold;'>{{ 'email.reset.link'|trans({},'messages') }}</span> {{ 'email.reset.under'|trans({},'messages') }} :</p>
<a style='font-weight: bold' href='{{ url }}'>{{ 'email.reset.clic'|trans({},'messages') }}</a>