<div class="paginator" id="paginator">
{% if routeParameters is not null %}
    {% for key,value in routeParameters %}
        {% if nbResults != nbAllResults%}
            <a href="{{ path(route,{ (key) : value,'page' : page }) }}#paginator" class="btnPaginator mb-5 mt-2">{{ 'paginator.next'|trans }} <small>( {{ (nbAllResults - nbResults) }} {{ 'paginator.results'|trans }} )</small></a>
        {% endif %}
    {% endfor %}
{% else %}
    {% if nbResults != nbAllResults%}
        <div class="paginator pb-5 pt-2" id="paginator">
            <a href="{{ path(route,{'page' : page}) }}#paginator" class="btnPaginator mb-5 mt-2">{{ 'paginator.next'|trans }} <small>( {{ (nbAllResults - nbResults) }} {{ 'paginator.results'|trans }} )</small></a>
        </div>
    {% endif %}
{% endif %}
</div>